@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #0e7e12;
}

.card {
  background-color: white;
  height: 460px;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 80px;
}

.card .top-suit {
  font-size: 80px;
  color: black;
}

.card .bottom-suit {
  font-size: 80px;
  color: black;
  transform: rotate(180deg);
  margin-top: 20px;
}

.extra {
  width: 350px;
}

.extra .buttonClick {
  margin-left: 130px;
  margin-top: 10px;
  height: 60px;
  width: 120px;
  background-color: black;
  color: white;
}

.extra .casillaH {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
}

.extra .casillaW {
  margin-left: 100px;
  margin-top: 80px;
  width: 200px;
}

.extra .contador {
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
}
